
.profile-card {
    border-radius: 20px;
    width: 1200px;
    height: 850px;
    background-color: white;
    display: flex;
    flex: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-bottom: 70px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

}

.profile-card header {
    border-right: 1px solid #d32f2f;
    width: 400px;

}

.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-top: 40px;
    border: 8px solid transparent;
    transition: .4s;
}

.profile-card img:hover {
    border: 8px solid #323641;
}

.profile-card h1 {
    font: bold italic 2em/1em "Times New Roman", "MS Serif", "New York", serif;
    font-size: 22px;
    color: #323641;
    text-align: center;

}

.profile-card .add-review {
    font: bold italic 2em/1em "Times New Roman", "MS Serif", "New York", serif;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-left: 100px;
    width: 200px;
    cursor: pointer
}


.profile-card h2 {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
}

.profile-bio {
    border-radius: 0 20px 20px 0;
    background-color: #323641;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile-bio p {
    color: white;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    margin: 30px;
    margin-top: 70px;
}

.heart-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 40px;

}

.fa-heart {
    color: red;
    display: flex;
    color: red;
    font-size: 50px;
    transition: .4s;
    cursor: pointer;
}

.fa-heart:hover {
    color: #d32f2f;
    transform: scale(1.2);
}

.profile-bio ul {
    list-style-type: none;
    display: flex;
}

.profile-bio ul li {

    margin: 30px;
}

.fa-instagram {
    color: white;
    transition: .4s;
}

.fa-instagram:hover {
    color: #e53935;
}

.fa-facebook-square {
    color: white;
    transition: .4s;
}

.fa-facebook-square:hover {
    color: #e53935;
}

.fa-linkedin {
    color: white;
    transition: .4s;
}

.fa-linkedin:hover {
    color: #e53935;
}

.checked {
    color: orange;
}