<div class="modal-dialog">
    <form id="myform" ng-submit="send()">
        <fieldset>
            <span style="margin-left: 350px;" ng-click="close()" aria-hidden="true">&times;</span>
            <h1>Create a review</h1>

            <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>

            <div class="md-form rating">
                <span ng-click="rate(5)" title="five stars">&#9734;</span>
                <span ng-click="rate(4)" title="four stars">&#9734;</span>
                <span ng-click="rate(3)" title="three stars">&#9734;</span>
                <span ng-click="rate(2)" title="two stars">&#9734;</span>
                <span ng-click="rate(1)" title="one star">&#9734;</span>
            </div>

            <input ng-disabled="myForm.$invalid" type="submit" name="Submit" class="next action-button"
                   value="Submit"/>
            <input style="text-align: center; cursor: pointer" name="RecoverPassword"
                   ng-click="close()" name="Cancel" class="next action-button" value="Cancel"/>

        </fieldset>

    </form>
</div>
