<form id="myform" ng-submit="login()">
    <fieldset style="padding: 20px;">
        <h1>Login</h1>
        <input name="userName" placeholder="User Name" ng-model="user.userName" required>
        <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
        <h4 style="color: red" ng-show="errorMessage">{{ errorMessage }}</h4>

        <input ng-disabled="myForm.$invalid" type="submit" name="Login" class="next action-button" value="Login"/>
        <h4>or</h4>
        <input ng-click="moveToRecoverPage()" style="text-align: center; cursor: pointer" name="RecoverPassword"
               class="next action-button" value="Recover Password"/>
    </fieldset>

</form>
