<section class="card register">
    <form name="myform" ng-submit="login()" >

        <div class="textintro">
            <h1>Login</h1>
        </div>

        <fieldset>
            <input name="userName" placeholder="User Name" ng-model="user.userName" required>
            <p class="error validationerror" ng-show="myform.userName.$invalid && myform.userName.$touched">User
                name is required</p>

            <input type="password" name="password" placeholder="Password"
                   ng-model="user.password" ng-required="true">
            <p class="error validationerror"
               ng-show="myform.password.$invalid && myform.password.$touched">Password is required</p>
        </fieldset>

        <button ng-disabled="myForm.$invalid" type="submit" class="btn">Login</button>

        <p>or <a ng-hide="currentUser" ng-href="#/recover-password">Recover Password</a></p>
    </form>
</section>