<section ng-show="isUserQuestionExists === false" class="card register">

    <div class="textintro">
        <h1>Recover Password</h1>
    </div>

    <input name="userName" placeholder="User Name" ng-model="user.userName">

    <button ng-click="getUserQuestions()" class="btn">Next</button>

</section>

<section ng-show="isUserQuestionExists === true" class="card register">
    <form name="myform" ng-submit="recoverPassword()">

        <div class="textintro">
            <h1>Recover Password</h1>
        </div>

        <fieldset>
            <label>{{ user.question1.content }}</label>

            <input name="answer1" placeholder="Answer" ng-model="user.answer1" required>
            <p class="error validationerror" ng-show="myform.answer1.$invalid && myform.answer1.$touched">Answer is
                required</p>

            <label>{{ user.question2.content }}</label>

            <input name="answer2" placeholder="Answer" ng-model="user.answer2" required>
            <p class="error validationerror" ng-show="myform.answer2.$invalid && myform.answer2.$touched">Answer is
                required</p>

            <input name="password" placeholder="New Password" ng-model="user.password" required>
            <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">New password
                is required</p>
        </fieldset>

        <button ng-click="deleteUserQuestions()" class="btn">Back</button>
        <button ng-disabled="myForm.$invalid" type="submit" class="btn">Recover Password</button>
    </form>
</section>