<section class="recover-password-form">
<!--<section style="margin: 200px 0 0 700px"  class="card register">-->

    <div ng-show="isUserQuestionExists === false">
        <fieldset style="padding: 20px;">
            <h1>Recover Password</h1>
            <input name="userName" placeholder="User Name" ng-model="user.userName">
            <h4 style="color: red" ng-show="errorMessage">{{ errorMessage }}</h4>

            <input ng-click="getUserQuestions()" style="text-align: center; cursor: pointer" name="Next"
                   class="next action-button" value="Next"/>

        </fieldset>
    </div>

    <div ng-show="isUserQuestionExists === true">
        <form id="myform" ng-submit="recoverPassword()">
            <fieldset style="padding: 20px;">
                <h1>Recover Password</h1>
                <label style="margin-left: -90px;">First question - {{ user.question1.content }}</label>
                <input name="answer1" placeholder="Answer" ng-model="user.answer1" required>
                <label style="margin-left: -90px;">Second question -{{ user.question2.content }}</label>
                <input name="answer2" placeholder="Answer" ng-model="user.answer2" required>
                <input name="password" placeholder="New Password" ng-model="user.password" required>

                <h4 style="color: red" ng-show="errorMessage">{{ errorMessage }}</h4>

                <input ng-disabled="myForm.$invalid" type="submit" name="Submit" class="next action-button" value="Submit"/>

            </fieldset>
        </form>
    </div>
</section>
