<section ng-if="isUserQuestionExists === false" class="card register">

    <div class="textintro">
        <h1>Recover Password</h1>
    </div>

    <input name="userName" placeholder="User Name" ng-model="user.userName">

    <button ng-click="getUserQuestions()" class="btn">Next</button>

</section>

<section ng-if="isUserQuestionExists === true" class="card register">
    <form name="myform" ng-submit="recoverPassword()" >

        <div class="textintro">
            <h1>Recover Password</h1>
        </div>

        <fieldset>
            <select class="select" name="country" ng-model="user.question1" required>
                <option value="" disabled selected>Select your question</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <p class="error validationerror" ng-show="myform.question1.$invalid && myform.question1.$touched">
                Question is required</p>

            <input name="answer1" placeholder="Answer" ng-model="user.answer1" required>
            <p class="error validationerror" ng-show="myform.answer1.$invalid && myform.answer1.$touched">Answer is
                required</p>

            <select class="select" name="country" ng-model="user.question2" required>
                <option value="" disabled selected>Select your question</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <p class="error validationerror" ng-show="myform.question2.$invalid && myform.question2.$touched">
                Question is required</p>

            <input name="answer2" placeholder="Answer" ng-model="user.answer2" required>
            <p class="error validationerror" ng-show="myform.answer2.$invalid && myform.answer2.$touched">Answer is
                required</p>
        </fieldset>

        <button ng-click="deleteUserQuestions()" class="btn">Back</button>
        <button ng-disabled="myForm.$invalid" type="submit" class="btn">Recover Password</button>
    </form>
</section>