<section class="card register">
    <form name="myform" ng-submit="register()" novalidate>

        <div class="textintro">
            <h1>Register</h1>
            <p>{{ message}}</p>
        </div>

        <fieldset>
            <div ng-if="part == firstPart">
                <input name="firstname" placeholder="First Name" ng-model="user.firstname" ng-required="true">
                <p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">First
                    name is required</p>
                <input name="lastname" placeholder="Last Name" ng-model="user.lastname" ng-required="true">
                <p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">Last
                    name is required</p>
                <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
                <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Email is
                    required</p>
                <input type="password" name="password" placeholder="Password" ng-model="user.password"
                       ng-required="true">
                <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">Password
                    is required</p>
            </div>
            <div ng-if="part == secondPart">
                <select name="country" ng-model="user.country" ng-required="true">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                <p class="error validationerror" ng-show="myform.country.$invalid && myform.country.$touched">Country
                    required</p>

                <input name="city" placeholder="City" ng-model="user.city" ng-required="true">
                <p class="error validationerror" ng-show="myform.city.$invalid && myform.city.$touched">City is
                    required</p>

                <select name="category1" ng-model="user.category1" ng-required="true">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                <p class="error validationerror" ng-show="myform.category1.$invalid && myform.category1.$touched">
                    Category is required</p>

                <select name="category2" ng-model="user.category2" ng-required="true">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                <p class="error validationerror" ng-show="myform.category2.$invalid && myform.category2.$touched">
                    Category is required</p>

                <select name="question1" ng-model="user.question1" ng-required="true">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                <p class="error validationerror" ng-show="myform.question1.$invalid && myform.question1.$touched">
                    Question is required</p>

                <input name="answer1" placeholder="Answer" ng-model="user.answer1" ng-required="true">
                <p class="error validationerror" ng-show="myform.answer1.$invalid && myform.answer1.$touched">Answer is
                    required</p>

                <select name="question2" ng-model="user.question2" ng-required="true">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                <p class="error validationerror" ng-show="myform.question2.$invalid && myform.question2.$touched">
                    Question is required</p>

                <input name="answer2" placeholder="Answer" ng-model="user.answer2" ng-required="true">
                <p class="error validationerror" ng-show="myform.answer2.$invalid && myform.answer2.$touched">Answer is
                    required</p>
            </div>
        </fieldset>

        <button type="submit" class="btn">Register</button>
        <p>or <a href="#/login">login</a></p>
    </form>
</section>