<!--<div class="row">-->
    <!--<div class="col-sm-5">-->

    <!--<div class="col-sm-2">-->

    <!--</div>-->
    <!--<div class="col-sm-5">-->
        <!--<h1 class="poi-header">Recommended Points Of Interests</h1>-->
        <!--<div class="row">-->
            <!--<div ng-click="goToPOI(poi)" ng-repeat="poi in pointsOfInterest" class="col-sm-6">-->
                <!--<div class="card">-->
                    <!--<img src="img_avatar2.png" alt="Avatar">-->
                    <!--<h4><b>{{ poi.name }}</b></h4>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

<div class="row">
    <form  id="myform" ng-submit="register()">
        <fieldset style="width: 900px;padding: 20px; margin-left: -200px">
            <h1>Register</h1>
            <div class="col-sm-6">
                <input name="userName" placeholder="User Name" ng-model="user.userName" required>
                <input name="firstname" placeholder="First Name" ng-model="user.firstName" required>
                <input name="lastname" placeholder="Last Name" ng-model="user.lastName" required>
                <input type="email" name="email" placeholder="Email" ng-model="user.email" required>
                <input type="password" name="password" placeholder="Password" ng-model="user.password" required>
                <select style="height: 57px; font-size: 20px;" class="form-control" name="country" ng-model="user.country" required>
                    <option value="" disabled selected>Select your country</option>
                    <option ng-repeat="country in countries" value="{{ country.ID }}">{{ country.Name }}</option>
                </select>
                <input name="city" placeholder="City" ng-model="user.city" required>
            </div>

            <div class="col-sm-6">

                <select style="height: 57px; font-size: 20px; padding: 5px" class="form-control" name="category" ng-model="user.category1"
                        required>
                    <option value="" disabled selected>Select your first favorite category</option>
                    <option ng-repeat="category in categories" value="{{ category.categoryId }}">{{ category.name }}</option>
                </select>
                <select style="height: 57px; font-size: 20px; margin-bottom: 5px" class="form-control" name="country" ng-model="user.category2"
                        required>
                    <option value="" disabled selected>Select your second favorite category</option>
                    <option ng-repeat="category in categories" value="{{ category.categoryId }}">{{ category.name }}</option>
                </select>
                <select style="height: 57px; font-size: 20px; margin-bottom: 5px" class="form-control" name="question1" ng-model="user.question1" required>
                    <option value="" disabled selected>Select your first question</option>
                    <option ng-repeat="question in questions" value="{{ question.questionId }}">{{ question.content }}</option>
                </select>
                <input name="answer1" placeholder="Answer" ng-model="user.answer1" required>
                <select style="height: 57px; font-size: 20px; margin-bottom: 5px" class="form-control" name="country" ng-model="user.question2" required>
                    <option value="" disabled selected>Select your second question</option>
                    <option ng-repeat="question in questions" value="{{ question.questionId }}">{{ question.content }}</option>
                </select>

                <input name="answer2" placeholder="Answer" ng-model="user.answer2" required>
            </div>

            <input ng-disabled="myForm.$invalid" type="submit" name="Register" class="next action-button" value="Register" />
        </fieldset>
    </form>
</div>




<!--<section class="card register" ng-show="categories && countries && questions">-->
    <!--<form name="myform" ng-submit="register()">-->

        <!--<div class="textintro">-->
            <!--<h1>Register</h1>-->
        <!--</div>-->

        <!--<fieldset>-->
            <!--<input name="userName" placeholder="User Name" ng-model="user.userName" required>-->
            <!--<p class="error validationerror" ng-show="myform.userName.$invalid && myform.userName.$touched">User-->
                <!--name is required</p>-->
            <!--<input name="firstname" placeholder="First Name" ng-model="user.firstName" required>-->
            <!--<p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">First-->
                <!--name is required</p>-->
            <!--<input name="lastname" placeholder="Last Name" ng-model="user.lastName" required>-->
            <!--<p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">Last-->
                <!--name is required</p>-->
            <!--<input type="email" name="email" placeholder="Email" ng-model="user.email" required>-->
            <!--<p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Email is-->
                <!--required</p>-->
            <!--<input type="password" name="password" placeholder="Password" ng-model="user.password"-->
                   <!--required>-->
            <!--<p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">Password-->
                <!--is required</p>-->
            <!--<select class="select" name="country" ng-model="user.country" required>-->
                <!--<option value="" disabled selected>Select your country</option>-->
                <!--<option ng-repeat="country in countries" value="{{ country.ID }}">{{ country.Name }}</option>-->
            <!--</select>-->
            <!--<p class="error validationerror" ng-show="myform.country.$invalid && myform.country.$touched">Country-->
                <!--required</p>-->

            <!--<input name="city" placeholder="City" ng-model="user.city" required>-->
            <!--<p class="error validationerror" ng-show="myform.city.$invalid && myform.city.$touched">City is-->
                <!--required</p>-->

            <!--<select style="margin-bottom: 5px" class="select" name="category" ng-model="user.category1"-->
                    <!--required>-->
                <!--<option value="" disabled selected>Select your first favorite category</option>-->
                <!--<option ng-repeat="category in categories" value="{{ category.categoryId }}">{{ category.name }}</option>-->
            <!--</select>-->
            <!--<p class="error validationerror" ng-show="myform.category1.$invalid && myform.category1.$touched">-->
                <!--Category is required</p>-->

            <!--<select style="margin-bottom: 5px" class="select" name="country" ng-model="user.category2"-->
                    <!--required>-->
                <!--<option value="" disabled selected>Select your second favorite category</option>-->
                <!--<option ng-repeat="category in categories" value="{{ category.categoryId }}">{{ category.name }}</option>-->
            <!--</select>-->
            <!--<p class="error validationerror" ng-show="myform.category2.$invalid && myform.category2.$touched">-->
                <!--Category is required</p>-->

            <!--<select class="select" name="question1" ng-model="user.question1" required>-->
                <!--<option value="" disabled selected>Select your first question</option>-->
                <!--<option ng-repeat="question in questions" value="{{ question.questionId }}">{{ question.content }}</option>-->
            <!--</select>-->
            <!--<p class="error validationerror" ng-show="myform.question1.$invalid && myform.question1.$touched">-->
                <!--Question is required</p>-->

            <!--<input name="answer1" placeholder="Answer" ng-model="user.answer1" required>-->
            <!--<p class="error validationerror" ng-show="myform.answer1.$invalid && myform.answer1.$touched">Answer is-->
                <!--required</p>-->

            <!--<select class="select" name="country" ng-model="user.question2" required>-->
                <!--<option value="" disabled selected>Select your second question</option>-->
                <!--<option ng-repeat="question in questions" value="{{ question.questionId }}">{{ question.content }}</option>-->
            <!--</select>-->
            <!--<p class="error validationerror" ng-show="myform.question2.$invalid && myform.question2.$touched">-->
                <!--Question is required</p>-->

            <!--<input name="answer2" placeholder="Answer" ng-model="user.answer2" required>-->
            <!--<p class="error validationerror" ng-show="myform.answer2.$invalid && myform.answer2.$touched">Answer is-->
                <!--required</p>-->
        <!--</fieldset>-->

        <!--<button ng-disabled="myForm.$invalid" type="submit" class="btn">Register</button>-->
    <!--</form>-->

    <!--<p ng-show="errorRegisterMessage"> {{ errorRegisterMessage }} </p>-->
<!--</section>-->